/*Navigation*/
#navbar{
    flex-direction: column;
}



/*Home section*/
#home{
   height:370px;
   padding:3px 68px;
}
#home::before{
    height:480px;
}
#home p{
    font-size: 13px;
}
/*Services section*/
#services{
   flex-direction: column;
}
.box img{
    width:100%;
}

/*Clients section*/
#clients{
    overflow: hidden;
}
.client-item img{
    width:100%;
}
/*Contact us section*/




/*Footer*/

/*Utlity classes*/
.h-primary{
    font-size: 26px;
}
.foot{
    margin-left:10%;
    width:100%;
}